:root {
  --text-color: #CBD6EE
}

.App {
  text-align: center;
  position: relative;
  background-color: #171C28;
}



h1, h2, h3, h4, a {
  text-align: initial;
  margin: 0;
  color: var(--text-color);
  display: block;
  cursor: default;
}


h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

@media (width <= 600px) {
  h2 {
    margin-bottom: 20px;
  }
}

h3 {
  /* font-weight: 400; */
}

h4 {
  font-size: 1rem;
  font-weight: 400;;
}

a {
  font-size: 1rem;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
}


#container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(600px at var(--x, 50%) var(--y, 50%), rgba(29, 78, 216, 0.15), transparent 80%);
}


.ext-link-icon {
  padding-left: 3px;
}

.navbar {
  background-color: #171C28;
  padding: 20px;
  display: flex;
  gap: 20px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-btn {

  color: white;
  cursor: pointer;
}

.nav-btn:hover {
  text-decoration: underline;

}

.home {
  height: 100vh;
  display: flex;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0 10px;
  max-width: 1000px;
  flex-wrap: wrap;
}

.home div {
  min-width: 320px;
  flex: 1;
}

.face {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 3px solid #1D3354
}


.about {
  height: 90vh;
  padding: 80px 50px 20px;

}

.aboutContent {
  width: 70vw;
  padding: 20px;
}

@media (width <= 600px) {
  .aboutContent {
    padding: 20px 0;
  }
}

.skills {
  min-height: 90vh;
  padding: 80px 50px 20px;

}

.skills-box {
  width: 100%;
  max-width: 800px;
  display: flex;
}

@media (width <= 575px) {
  .skills-box {

    flex-direction: column;
  }
  
}

.skills-column {
  flex: 1;
  padding: 20px;
  height: 300px;
  
  max-width: 700px;
}

.skills-column span {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}

.skills-column svg {
  color: var(--text-color);
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.projects {
  min-height: 90vh;
  padding: 80px 50px 20px;
}

.project-box {
  border: 1px solid rgba(150, 150, 150, 0);
  border-radius: 5px;
  margin: 10px auto;
  padding: 20px 20px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 200px;
  width: 70%;
  max-width: 900px;
  
  transition-property: border-color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  
}

@media (width <= 600px) {
  .project-box {
    margin: 0;
    width: 90%;
  }
}


.project-box:hover {
  border-color: var(--text-color);
  background-color: rgba( 150, 150, 150, 0.3);
  transition-property: border-color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.project-pic {
  height: 100px;
  border: 1px solid #7d91b9;
  border-radius: 5px;
}

.project-text {
  min-width: 300px;
  flex: 1;
  max-width: 600px
}

@media (width <= 600px) {
  .project-text {
    min-width: unset;
  }
}

.contact {
  height: 60vh;
  padding: 80px 50px 20px;
  display: flex;
  flex-direction: column;
  
}

.contact-box {
  padding-left: 20px;
}

.contact-box > * {
  margin-bottom: 20px;
}


.links-container {
  display: flex;
  margin-top: 10px;
  gap: 20px;
}

.resume {
  font-size: 1.17rem;
  font-weight: bold;
  border: 2px solid var(--text-color); 
  text-decoration: none;
  border-radius: 1000px;
  padding: 10px 20px;
}


